@keyframes slide {
  from {
    display: none;
    opacity: 0;
    transform: translateX(-5vh);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.slide-in {
  animation-duration: 1s;
  animation-name: slide;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-timing-function: ease-in-out;
}
